# --- Python & Sistema ---
__pycache__/
*.py[cod]
*$py.class
*.log
.DS_Store

# --- Entorno Virtual ---
.venv/
env/
venv/

# --- Seguridad ---
.env
.env.dev
.streamlit/

# --- Base de Datos & Backups ---
*.db
*.sqlite
*.sqlite3

# --- Reportes ---
*.xlsx
*.csv
*.pdf

# Si guardas gráficos como imágenes temporalmente
*.png
*.jpg

# --- Ejecutables y Compilación ---
build/
dist/
*.spec
*.exe

# --- Configuración de IDEs ---
.vscode/
.idea/
Thumbs.db

# Notas personales y planificación
MEJORAS.txt
test_bot.py