# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Entorno Virtual
.venv/
env/
venv/

# Base de Datos
perezboost.db
backups/

# Ejecutables y Compilación
build/
dist/
*.spec

# Archivos de Sistema y Editor
.vscode/
.idea/
Thumbs.db